* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 10px;
}

nav {
    height: 5%;
    width: 100%;
    padding: 20px;
    background-color: rgb(33, 159, 221);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.myTasks {
    display: flex;
    gap: 10px;
}

.newTask {
    display: flex;
    gap: 100px;
    cursor: pointer;
}

.newTask div {
    display: flex;
    gap: 5px;
    cursor: pointer;
}

h1 {
    font-weight: 400;
}

i {
    font-size: 35px;
}

#taskForm {
    height: 60%;
    width: 40%;
    position: absolute;
    left: 30%;
    top: 30%;
    display: none;
    flex-direction: column;
    gap: 20px;
    padding: 0px 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.359);
    color: white;
    padding: 50px 20px;
    border-radius: 20px;
}

.close {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

input {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid gray;
    outline: none;
}

.cat-opt {
    display: flex;
    gap: 20px;
}

label {
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid gray;
    outline: none;
    color: black;
}

select {
    padding: 10px 15px;
    border-radius: 10px;
    border: 0.1px solid gray;
}

#add {
    padding: 15px 0px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid gray;
    outline: none;
}

#tasks {
    height: 10%;
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px;
}

.heading {
    background-color: rgb(24, 132, 96);
    padding: 20px;
    border-radius: 10px;
    outline: none;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

h3 {
    font-size: 30px;
    font-weight: 400;
}

p {
    margin-top: 5px;
    margin-left: 20px;
}

#btns {
    display: flex;
    gap: 20px;
}

button {
    padding: 5px 20px;
    font-weight: 400;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    border: 1px solid gray;
    cursor: pointer;
}

.update {
    background-color: rgb(246, 198, 76);
}

.comp {
    background-color: rgb(53, 241, 53);
}

.del {
    background-color: rgb(250, 49, 49);
}

.dark {
    background-color: black;
    color: white;
}

.white {
    background-color: white;
    color: black;
}


/* DARK MODE FORM FIX */
body.dark #taskForm {
    background-color: #f5ecec;
    color: white;
}

body.dark #taskForm .close{
    color: black;
}

/* button */
body.dark #taskForm button {
    background-color: #555;
    color: white;
}